@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Poppins", sans-serif;
  }

  .thumbs-wrapper{
    display: flex;
    justify-content: center;
  }

  .errorBg {
    background-image: url(../src/assets/bg/4212810.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }